*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-image: url(../img/Fondo\ 4.jpg);
    color: aliceblue;
    border: none;
    width: 1530px;
    height: 700px;
    text-align: center;
}





/*Footer*/

footer{
    padding: 0%;
    margin: 0%;
    background-color: #1B150C;
    color: beige;
    text-align: center;
    height: 500PX;
}

.copyright{
    background-color: black;
    color: beige;
    text-align: center;
}